 <section class="edit--user--section">
  <div class="header--title">
    <h1 class="title">Edit Profile</h1>
  </div>

  <div class="session--container">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input--session" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :username %><br />
        <%= f.text_field :username, class: "input--session" %>
      </div>

      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, class: "input--session" %>
      </div>

      <div class="field">
        <%= f.label :avatar %><br />
        <%= f.file_field :avatar, autofocus: true,  accept: "image/png, image/jpeg", class: "input--session" %>
      </div>

      <div class="field">
        <%= f.label :password %> <i class="text-xs">(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "input--session", placeholder: "Placeholder" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :current_password %> <i class="text-xs">(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class: "input--session", placeholder: "Placeholder" %>
      </div>

      <div class="actions">
        <%= f.submit "Update" %>
      </div>
    <% end %>
  </div>
  <div>
    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
  </div>
  <%= link_to "Back", :back %>
</section>