<div id="<%= dom_id comment %>">
  <div>
      <% #Avatar %>
    </div>
    <div>
      <div>
        <div>
          <h4 class="heading--xs">
            <%= comment.user.name %>
          </h4>
          <%= link_to user_path(comment.user), class: "username" do %>
            <p class="user--profile">
              @<%= comment.user.username %>
            </p>
          <% end %>
        </div>
        <div>
          <p><%= comment.body %></p>
        </div>
      </div>
      <footer>
      </footer>
    </div>

</div>
