<div class="tweet--edit">
  <%= form_with(model: tweet) do |form| %>
    <div class="body--edit">
      <% if tweet.errors.any? %>
        <div style="color: red">
          <% pluralize(tweet.errors.count, "error") %>
          <ul>
            <% tweet.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= form.label :body %>
      <%= form.text_area :body %>
      <%= form.hidden_field :user_id, value: current_user.id %>
    </div>
    <div>
      <%= form.submit %>
    </div>
  <% end %>
</div>
