<p style="color: green"><%= notice %></p>

<section class="main--section">
  <div class="header--title">
    <h1 class="title">Home</h1>
  </div>
  <% if user_signed_in? %>
    <div class="text__area--container">
      <div>
        <% if current_user.avatar.attached? %>
          <%= image_tag current_user.avatar, alt: "Tweet avatar" %>
        <% end %>
      </div>
      <div class="tweet--creation">
        <%= form_with(model: @tweet) do |form| %>
          <% if user_signed_in? %>
            <%= form.hidden_field :user_id, value: current_user.id %>
          <% end %>
          <div>
            <%= form.text_area :body, placeholder: "Remenber to think before write...", class: 'text--area' %>
          </div>
          <div class="tweet--button">
            <%= form.submit "Tweet"%>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <div id="tweets">
    <% @tweets.each do |tweet| %>
      <%= render tweet %>
    <% end %>
  </div>
</section>